*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

html {
    height: 100vh;
}

body {
    font-family: "Roboto Mono", monospace;
    min-height: 400px;
    background-image: url("./images/home.png");
    background-color: #000000;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    
  }
  
  .container {
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


  }
  
  .page-title {
    font-size: 40px;      
    color: #2f2e41;
    margin: 0 0 5px;
    margin-bottom: 10px;
  }
  
  .page-subtitle {
    color: #2f2e41;
    margin-top: 5px;
  }
  
  .page-logo {
    width: 200px;
  }
  
  .alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  input {
    margin: 5px;
    padding: 6px;
    border-radius: 5px;
    border: 1px solid transparent;
  }
  
  label {
    color: #2f2e41;
  }
  
  .btn-grad {
    background: #ffde82;
    height: 30px;
    border-radius: 5px;
    padding: 10px 40px;
    text-align: center;
    border: 1px solid transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    transition: 0.8s;
    
    }

    .btn-grad:hover{
        background: #f3ca5b;
        transition: 0.8s;
    }
  
  h2 {
    color: #2f2e41;
    font-size: 30px;
  }
  

  