*{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

html {
    height: 100vh;
}

body {
  font-family: "Roboto Mono", monospace;
  min-height: 400px;
  background-image: url('./images/2.png');
  background-color: #000000;
  background-size: 100vh;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.container {
  text-align: center;
  padding: 20px;
  height: 100vh;
}

.page-title {
  color: #ffffff;
  margin: 0 0 5px;
}

.page-subtitle {
  color: #ffffff;
  margin-top: 5px;
}

.page-logo {
  width: 200px;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}

input {
  margin: 12px;
  padding: 6px;
  border-radius: 5px;
}

label {
  color: white;
}

button {
  margin-top: 12px;
  padding: 4px 8px;
  border-radius: 14px;
  background: #fada06;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border: #fada06;
  cursor: pointer;
  transition: 0.8s;
  padding: 10px 20px;

}

button:hover{
   
    background: #b6a00f url('botao_hover.gif') no-repeat;
    transition: 0.8s;
    color: #000000;
}

h2 {
  color: #ffffff;
  font-size: 30px;
}
