*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

html {
    height: 100vh;
}
  
  body {
    font-family: "Roboto Mono", monospace;
    min-height: 400px;
    background-image: url("./images/home2.jpg");
    background-color: #000000;
    background-size: 100vh;
    background-position: center bottom;
    background-repeat: no-repeat;
  }
  
  .container {
    text-align: center;
    padding: 20px;
    height: 100vh;
  }
  
  .page-title {
    color: #ffffff;
    margin: 0 0 5px;
  }
  
  .page-subtitle {
    color: #ffffff;
    margin-top: 16px;
  }
  
  .page-logo {
    width: 200px;
  }
  
  .alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  @media (max-height: 500px) {
    body {
      min-height: 800px;
    }
  }
  
  input {
    margin: 4px;
    padding: 6px;
    border-radius: 5px;
  }
  
  button {
    margin-top: 12px;
    padding: 4px 8px;
    border-radius: 5px;
    background: #40c4ff;
  }
  
  .resultado {
    color: #ffffff;
    text-align: center;
    margin-top: 16px;
    transition: 0.8s;
    
  }

  /* .btn-grad {
    background: #ffde82;
    height: 30px;
    border-radius: 5px;
    padding: 10px 40px;
    text-align: center;
    border: 1px solid transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    
    
  } */



    .btn-grad:hover{
        background: #0483b6;
        transition: 0.8s;
    }
  
  